@model EstacionamentoTech.Models.Cliente

@{
	ViewData["Title"] = "Adicionar Novo Cliente";
}

<h1>
	@ViewData["Title"]
</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<form asp-action="NovoCliente">
			<div class="form-group">
				<label asp-for="Nome" class="control-label"></label>
				<input asp-for="Nome" class="form-control1"/>
			</div>
			<br />
			<div class="form-group">
				<input type="submit" value="Criar" class="btn btn-primary"/>
			</div>
		</form>

	</div>
</div>

<hr/>

<div>
	<a asp-action="Index">Voltar</a>
</div>